faces
faces/*
*/__pycache__*
__pycache__/
*.pyc
weights/*.onnx
weights/*.index
weights/*/config.pbtxt
*.pyc
*.pyo
*.swp
*.onnx
*.pbtxt
*.zip
logs/*
db_server
weights/faiss/embed_vector.index
images
*.jpg
*.engine
*.pt
*.onnx
yolov5-face
models
*.png
*.mp4
