fastapi
pymongo
Pillow
blinker
pyyaml
onnx
torch
torchvision
nvidia-tensorrt
onnxruntime
uvicorn
aiofiles
python-multipart
tritonclient
opencv-python-headless
requests
scikit-image
# faiss-cpu
PyQt5
faiss-gpu
grpcio
# conda install pytorch torchvision torchaudio cudatoolkit=11.6 -c pytorch -c conda-forge
# conda install -c conda-forge pycuda
numba
filterpy